@media (max-width: 767px) {
  .row .left {
    padding-bottom: 0vw!important;
  }
  .left .title {
    font-size: 4vw!important;
  }
  .weather-box .temp {
    font-size: 20vw!important;
  }
  .location-box .location {
    font-size: 5vw!important;
  }
  .location-box .date {
    font-size: 2.2vw!important;
  }
  .weather-icon .image {
    width: 8vw!important;
  }
  .weather-icon .weather {
    font-size: 2vw!important;
  }
  .col.right {
    padding: 2vw 5vw!important;
  }
  .details-box {
    padding: 5vw 6vw!important;
  }
  .search-box .search-bar {
    font-size: 4vw!important;
  }
  .weather-details h1 {
    font-size: 3.5vw!important;
    letter-spacing: .07em;
  }
  .weather-info h1 {
    font-size: 3.5vw!important;
  }
  .station .base {
    font-size: 4.1vw!important;
  }
  .station .value {
    font-size: 5.3vw!important;
  }
  /*--------------------[ A B O U T ]-----------------------*/
  .modal-body img {
    width: 20vw;
    padding: .5em;
  }
  .modal-body p {
    font-size: 2.5vw;
  }
  .modal-body h6 {
    font-size: 2.6vw;
    font-weight: 700;
    letter-spacing: .5px;
  }
}