* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  /*overflow: hidden;*/
}

.row {
  position: relative;
  top: 0;
  left: 0;
  margin: 0!important;
  /*width: 100vw;*/
  min-height: 100vh;
}

.row .col {
  position: relative;
  top: 0;
  left: 0;
  /*height: 100%;*/
}

.row .col:first-child {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.heading-title {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.heading-title .title {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.2vw;
  opacity: 0.3;
  font-weight: 700;
  z-index: 2;
}

.heading-title .title-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.heading-title .app-info-icon {
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.weather-box {
  text-align: left;
  display: flex;
  color: white;
  align-items: flex-end;
  font-family: 'Poppins';
}

.weather-box .temp {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  margin-right: 2%;
  font-size: 9vw;
  font-weight: 600;
  text-align: center;
  line-height: 100%;
}

.location-box {
  padding-bottom: 2%;
  margin-right: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-box .location {
  font-size: 3vw;
  font-weight: 400;
  letter-spacing: .0em;
  /* line-height: 100%; */
  padding: 0;
  margin: 0;
}

.location-box .date {
  font-size: 1.2vw;
  font-weight: 300;
  /* line-height: 100%; */
  letter-spacing: .1em;
}

.weather-icon {
  padding-bottom: 2%;
  margin: 0;
}

.weather-ibox {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-icon .image {
  display: inline-block;
  width: 4vw;
  padding: 0;
  margin: 0;
}

.weather-icon .weather {
  font-size: 1.2vw;
  font-weight: 300;
  /* line-height: 100%; */
  letter-spacing: .1em;
}

/* ---------------------------------------------------------------------------------------------------------------- */

.col.right {
  position: relative;
  padding: 0 1.5vw;
  backdrop-filter: blur(10px);
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
}

.search-box {
  position: relative;
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box .search-bar::placeholder {
  color: rgba(255, 255, 255, 0.678);
  letter-spacing: 1px;
}

.search-box .search-bar {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 20px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 1.4vw;
  font-family: 'Poppins';
  letter-spacing: 1px;
  transition: 0.5s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.2);
  padding-right: 55px;
}

.search-box .search-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 2%;
  margin-right: 2%;
  opacity: 0.8;
}

.details-box {
  padding: 2vw;
  color: white;
  font-family: 'Poppins';
}

.weather-details {
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.weather-details h1 {
  font-weight: 600;
  font-size: 1.2vw;
  letter-spacing: .05em;
}

.weather-info .name {
  font-weight: 600;
  letter-spacing: .1em!important;
  opacity: .5;
}

.weather-info .basic div {
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.weather-info .basic div h1 {
  font-size: 1vw;
  letter-spacing: .05em;
}

.weather-info .station .position {
  justify-content: space-evenly;
  align-items: center;
}

.weather-info .station .country {
  justify-content: center;
  align-items: center;
}

.weather-info .station div h1 {
  font-size: 1vw;
  letter-spacing: .05em;
  margin: 0;
}

.weather-info .station div h1.base {
  font-size: 1.3vw;
}

.weather-info .station div h1.value {
  font-size: 1.6vw;
}

.weather-info .xtra div {
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.weather-info .xtra div h1 {
  font-size: 1vw;
  letter-spacing: .05em;
}


/*--------------------[ A B O U T ]-----------------------*/

.modal-content {
    position: relative;
    outline: 0;
    border: none;
    border-radius: .4rem!important;
    background-color: rgba(255, 255, 255, 0.2)!important;
    backdrop-filter: blur(4px);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}

.modal-header {
  border-bottom: 1px solid #dee2e600;
  border-bottom: 0px!important;
}

.modal-header .modal-title {
  text-align: center!important;
}

.modal-header .close {
  color: white;
}

.modal-body {
  font-family: 'Poppins'!important;
}

.modal-body img {
  width: 8vw;
  padding: .5em;
}

.modal-body h4 {
  opacity: 0.5;
  font-weight: 700;
}

.modal-body p {
  font-size: 1vw;
}

.modal-body .social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-body .social-icons .icon {
  color: rgba(255, 255, 255, 0.8);
  padding: .4em;
  border-radius: 50%;
  cursor: pointer;
}
.modal-body .social-icons .icon:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

.modal-body .social-icons .icon .social-icon {
  font-size: 1.5em;
}

.modal-body h6 {
  color: #659dff;
  font-size: .9vw;
  font-weight: 700;
  letter-spacing: .8px;
}

.modal-body h6 a {
  color: inherit;
}

/*************************************************[   E L S E   ]*******************************************************/

.else-main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  display: flex;
  justify-content: center;
  align-items: center;
}

.else-box {
  position: relative;
  text-align: center;
  padding: 4vw;
  color: white;

  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0px 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.else-img {
  width: 15ch;
  opacity: 0.8;
}

.else-detect {
  font-size: 4ch;
}

.else-msg {
  padding-top: 5%;
  font-size: 2ch;
}